# Core Libraries
pydantic
runpod==1.7.2

# Image Processing Libraries
opencv-python-headless==4.8.1.78

# Machine Learning Libraries
basicsr==1.4.2
realesrgan==0.3.0
timm==0.9.2

# CLI and Development Utilities
pyngrok==7.0.0

# Web and Networking Libraries
httpcore==0.15


GitPython
Pillow
accelerate

blendmodes
clean-fid
diskcache
einops
facexlib
fastapi>=0.90.1
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf==3.20.0
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torch
torchdiffeq
torchsde
transformers==4.30.2
pillow-avif-plugin==1.4.3

# Direct Git Dependencies
# These dependencies are directly cloned from GitHub. Ensure the specified commits/tags are compatible.
git+https://github.com/TencentARC/GFPGAN.git@8d2447a2d918f8eba5a4a01463fd48e45126a379
git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
git+https://github.com/mlfoundations/open_clip.git@bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b
